html,
body {
    min-width: 190px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    display: block;
    margin: 8px;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 40px;
}

section li {
    margin: 12px 0px 0px 20px;
}

header {
    font-size: 24px;
    font-weight: bold;
}

code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    font-family: "Courier New", monospace;
    padding: 6px 12px;
}

/* Navbar Styles */
#navbar {
    background-color: #333;
    min-width: 190px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
}

nav {
    display: block;
}

#navbar header {
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar li:last-child {
    border-bottom: 1px solid;
}

.nav-link {
    color: white;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: lightgray;
}


/* Content Styles */
#main-doc {
    position: absolute;
    margin-left: 250px;
}

/* Media Query for Responsive Design */

/* @media screen and (max-width: 768px) {
    #navbar {
        width: 100%;
        height: auto;
        position: static;
        flex-direction: row;
        justify-content: space-around;
    }

    #main-doc {
        margin: 20px;
    }
} */